@model List<Collectr.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Today's pickups</h4>
    <hr />
    <table>
        <tr>
            <td>Customer:</td>
            <td>Address:</td>
            <td>Next Pickup Date:</td>
            <td>View Details</td>
        </tr>
        @foreach (Collectr.Models.Customer customer in Model)
        {
            string fullName = customer.FirstName + " " + customer.LastName;
            string fullAddress = customer.StreetAddress + " " + customer.City + ", " + customer.State + " " + customer.ZipCode;

            <tr>
                <td>@fullName</td>
                <td>@fullAddress</td>
                <td>@customer.NextPickup</td>
                <td>@Html.ActionLink("View Details", "CustomerDetails", new { customerId = customer.ApplicationId })</td>
            </tr>
        }
    </table>
</div>